<%- include ("./partials/search.ejs")%>
<% if(consoles.length==0){} else{%>
    <h1>Consoles</h1>
<ul>
    <% consoles.forEach(console => { %>
    <li>
        <a href="/consoles/<%=console._id%>">
        <%=console.name%></a>
    </li>
</ul>
<%})}%>
<% if(games.length==0){%>
<%} else{%>
<h1>Games</h1>
<ul>
    <% games.forEach(game => { %>
    <li>
        <a href="/games/<%=game._id%>">
        <%=game.name%></a>
    </li>
    <%})%>
</ul>
<%}%>
